@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

/* Global */
html,
body,
::after,
::before {
  box-sizing: unset !important;
  overflow: hidden;
}

body {
  font-family: 'Montserrat', sans-serif !important;
  margin: 0px;
  padding: 0px;
  background: linear-gradient(130deg, #f7f3f9, #dfdce0, #aba7ac);
  background-size: 300% 300%;
  font-weight: 400 !important;
  -webkit-animation: greyBack 15s ease infinite;
  -moz-animation: greyBack 15s ease infinite;
  animation: greyBack 15s ease infinite;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.row {
  margin-right: 0px !important;
  margin-left: 0px !important;
}

@keyframes disappear {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes greyBack {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes greyBack {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes greyBack {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

h1 {
  font-family: 'Montserrat', sans-serif;
  color: #343434;
  font-weight: 400 !important;
}

h3 {
  color: rgba(52, 52, 52, 0.7);
  font-weight: 400 !important;
}

.button1 .button2 button {
  width: 260px;
  padding: 1.7em 1em 1.7em 1em;
  border-radius: 7px !important;
  font-size: 17px !important;
}

/* Left Container */

.left-cont {
  box-sizing: border-box;
  /* border: solid 3px red; */
  background: linear-gradient(130deg, #f7f3f9, #dfdce0, #aba7ac);
  background-size: 300% 300%;

  -webkit-animation: greyBack 15s ease infinite;
  -moz-animation: greyBack 15s ease infinite;
  animation: greyBack 15s ease infinite;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.info,
.insta,
.behance {
  padding-left: 0 !important;
}

li {
  list-style: none;
}

/* top panel */

.top-panel {
  padding-left: 120px;

  margin-top: 52px;
}

.branding-text {
  display: inline;
  color: #9b9b9b;
  animation: showLeftText 0.7s;
}

.branding-phone {
  animation: showLeftText 0.9s;
}
.logo {
  animation: showLeftText 0.5s;
}
.main-title {
  padding-top: 12em;
  width: 600px;
}

::placeholder {
  color: white;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  color: white;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: white;
}
button {
  width: 200px;
  height: 60px;
  padding: 1.7em 1em 1.7em 1em !important;
  border-radius: 7px !important;
  font-size: 12px !important;
}

.button1 {
  background-color: #4d4ad6;
  color: white;
  border: 1px solid #4d4ad6;
  transition: background-color ease-in 0.18s;
  animation: showLeftText cubic-bezier(0.66, 0.07, 0.13, 1.05) 0.4s;
}

.button2 {
  background-color: transparent;
  color: #676767;
  border: 1px solid #a2a2a2;
  transition: background-color ease-in 0.18s;
  animation: showLeftText cubic-bezier(0.66, 0.07, 0.13, 1.05) 1s;
  -webkit-animation: showLeftText cubic-bezier(0.66, 0.07, 0.13, 1.05) 1s;
}
.button1:hover {
  background-color: #161485;
  color: rgb(228, 228, 228);
}
.button2:hover {
  background-color: rgba(221, 221, 221, 0.644);
  color: rgb(80, 80, 80);
}

/* Social Media */

.info {
  width: 70vh;
}
.info div {
  padding-top: 2em;
}

.info p {
  display: inline;
  font-size: 14px;
  padding-left: 1.5em;
  color: rgba(52, 52, 52, 0.7);
  font-weight: 400;
  overflow: hidden;
}

.info a:hover {
  text-decoration: none;
}
.insta {
  animation: appear 2s cubic-bezier(0.66, 0.07, 0.13, 1.05);
  transform: translate3d(0, 0, 0);

  transition: transform cubic-bezier(0.66, 0.07, 0.13, 1.05) 0.5s;
}
.insta:hover {
  transform: translate3d(0, -10%, 0);
  transition: transform cubic-bezier(0.66, 0.07, 0.13, 1.05) 0.5s;
}

.behance {
  animation: appear 2.6s cubic-bezier(0.66, 0.07, 0.13, 1.05);
  transform: translate3d(0, 0, 0);
  transition: transform cubic-bezier(0.66, 0.07, 0.13, 1.05) 0.5s;
}
.behance:hover {
  transform: translate3d(0, -10%, 0);
  transition: transform cubic-bezier(0.66, 0.07, 0.13, 1.05) 0.5s;
}

/* Enquiry Menu */

.enq {
  position: absolute;
  display: flex;
  width: 100%;
  top: 0;
  right: -50%;
  z-index: 99;
}

.enq1 {
  background-color: #4d4ad6;
  height: 0vh;
  width: 25%;
  transition: height cubic-bezier(0.98, 0.11, 0.27, 0.96) 0.6s;
  -webkit-transition: height cubic-bezier(0.98, 0.11, 0.27, 0.96) 0.6s;
  -moz-transition: height cubic-bezier(0.98, 0.11, 0.27, 0.96) 0.6s;
  -o-transition: height cubic-bezier(0.98, 0.11, 0.27, 0.96) 0.6s;
}
.enq2 {
  background-color: #4d4ad6;
  height: 0vh;
  width: 25%;
  transition: height cubic-bezier(0.96, 0.27, 0.11, 0.98) 0.6s;
  -webkit-transition: height cubic-bezier(0.96, 0.27, 0.11, 0.98) 0.6s;
  -moz-transition: height cubic-bezier(0.96, 0.27, 0.11, 0.98) 0.6s;
  -o-transition: height cubic-bezier(0.96, 0.27, 0.11, 0.98) 0.6s;
}

.enq-1 {
  height: 100vh;
  transition: height cubic-bezier(0.98, 0.11, 0.27, 0.96) 0.6s;
  -webkit-transition: height cubic-bezier(0.98, 0.11, 0.27, 0.96) 0.6s;
  -moz-transition: height cubic-bezier(0.98, 0.11, 0.27, 0.96) 0.6s;
  -o-transition: height cubic-bezier(0.98, 0.11, 0.27, 0.96) 0.6s;
}

.enq-2 {
  height: 100vh;
  transition: height cubic-bezier(0.96, 0.27, 0.11, 0.98) 0.6s;
  -webkit-transition: height cubic-bezier(0.96, 0.27, 0.11, 0.98) 0.6s;
  -moz-transition: height cubic-bezier(0.96, 0.27, 0.11, 0.98) 0.6s;
  -o-transition: height cubic-bezier(0.96, 0.27, 0.11, 0.98) 0.6s;
}

.enq-fields {
  display: none;
  transition: background-color ease-in 0.18s;
  opacity: 0;
  transition: opacity ease-in 1s;
  animation: showLeftText cubic-bezier(0.66, 0.07, 0.13, 1.05) 1s;
  -webkit-animation: showLeftText cubic-bezier(0.66, 0.07, 0.13, 1.05) 1s;
  -o-animation: showLeftText cubic-bezier(0.66, 0.07, 0.13, 1.05) 1s;
  -moz-animation: showLeftText cubic-bezier(0.66, 0.07, 0.13, 1.05) 1s;
}

.enq-fields-inner {
  position: absolute;
  width: 70vh;

  margin-left: 7vh;
}

.enq-fields-show {
  opacity: 1;
  transition: opacity ease-in 1s;
  display: block;
  transition: background-color ease-in 0.18s;
}

.leave-enq {
  padding-top: 14vh;
  line-height: 1.2em;
  font-weight: 400 !important;
  font-size: 2.1em;
  color: white;
  transition: background-color ease-in 0.18s;
  animation: showLeftText cubic-bezier(0.66, 0.07, 0.13, 1.05) 1.3s;
  -webkit-animation: showLeftText cubic-bezier(0.66, 0.07, 0.13, 1.05) 1.3s;
  -o-animation: showLeftText cubic-bezier(0.66, 0.07, 0.13, 1.05) 1.3s;
  -moz-animation: showLeftText cubic-bezier(0.66, 0.07, 0.13, 1.05) 1.3s;
}

.name-input,
.tel-input {
  width: 87%;
  margin-bottom: 1em;
  margin-top: 1em;
  height: 50px;
  padding: 2.4em 2.3em 2.4em 2.3em !important;
  border-radius: 7px !important;
  font-size: 14px !important;
  background-color: transparent;
  color: #ffffff;
  border: 1px solid #c4c4c4;
  transition: background-color ease-in 0.18s;
  animation: showLeftText cubic-bezier(0.66, 0.07, 0.13, 1.05) 1.5s;
  -webkit-animation: showLeftText cubic-bezier(0.66, 0.07, 0.13, 1.05) 1.5s;
  -o-animation: showLeftText cubic-bezier(0.66, 0.07, 0.13, 1.05) 1.5s;
  -moz-animation: showLeftText cubic-bezier(0.66, 0.07, 0.13, 1.05) 1.5s;
}

.send-btn {
  width: auto !important;
  margin-top: 1em;
  padding: 1.6em 2.3em 3em 2.5em !important;
  border-radius: 7px !important;
  font-size: 14px !important;
  background-color: #ffffff;
  color: #4d4ad6;
  border: none;
  transition: background-color cubic-bezier(0.66, 0.07, 0.13, 1.05) 0.18s;
  animation: showLeftText cubic-bezier(0.66, 0.07, 0.13, 1.05) 1.9s;
  -webkit-animation: showLeftText cubic-bezier(0.66, 0.07, 0.13, 1.05) 1.9s;
  -o-animation: showLeftText cubic-bezier(0.66, 0.07, 0.13, 1.05) 1.9s;
  -moz-animation: showLeftText cubic-bezier(0.66, 0.07, 0.13, 1.05) 1.9s;
}

.send-btn:hover {
  background-color: #cfcef8;
}

.close-btn {
  margin-bottom: 1em;
  margin-top: 1em;
  height: 50px;
  padding: 1.3em 2.3em 2.4em 2.3em !important;
  border-radius: 7px !important;
  font-size: 16px !important;
  background-color: transparent;
  color: #ffffff;
  border: none;
}

/* A N I M A T I O N S <3 */

/* Smooth Transitioning & Appearing Animation */
@keyframes appear {
  0% {
    opacity: 0;
    transform: translateX(10%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

/* Underline Animation */
.underline {
  display: inline;
  position: relative;
  overflow: hidden;
}
.underline:after {
  content: '';
  position: absolute;
  z-index: 1;
  left: 0;
  right: 100%;
  bottom: -3px;
  background: linear-gradient(
    297deg,
    rgba(18, 59, 54, 1) 0%,
    rgba(19, 49, 71, 1) 50%,
    rgba(43, 30, 59, 1) 100%
  );

  height: 2px;
  transition-property: left right;
  transition-duration: 0.4s;
  transition-timing-function: cubic-bezier(0.45, 0.04, 0.21, 0.94);
}
.underline:hover:after,
.underline:focus:after,
.underline:active:after {
  right: 0;
}

/* Animated Text */

@keyframes transition1 {
  0% {
    transform: translate3d(0, 0, 0);
  }

  100% {
    transform: translate3d(0, 100%, 0);
  }
}
@keyframes showTopText {
  0% {
    transform: translate3d(0, 100%, 0);
    opacity: 0;
  }

  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@keyframes showTopText-2 {
  0% {
    transform: translate3d(0, 100%, 0);
    opacity: 0;
  }

  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes showLeftText {
  0% {
    transform: translate3d(10%, 0, 0);
    opacity: 0;
  }

  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.anim-cont div {
  overflow: hidden;
}

.anim-text div {
  animation: showTopText 1.4s;
  animation-timing-function: cubic-bezier(0.66, 0.07, 0.13, 1.05);
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  bottom: 0;
  transform: translate(0, 100%);
}
.anim-text-2 div {
  animation: showTopText-2 1.4s;
  animation-timing-function: cubic-bezier(0.66, 0.07, 0.13, 1.05);
  animation-delay: 1.2s;
  animation-fill-mode: forwards;
  bottom: 0;
  transform: translate(0, 100%);
}
.anim-text-3 div {
  animation: showTopText-2 1.4s;
  animation-timing-function: cubic-bezier(0.66, 0.07, 0.13, 1.05);
  animation-delay: 1.2s;
  animation-fill-mode: forwards;
  bottom: 0;
  transform: translate(0, 100%);
}

/* Responsiveness */

.gap {
  height: 20vh;
}
.yt {
  display: none;
}
.mobile-h3 {
  display: none;
}

@media only screen and (max-width: 1700px) {
  .main-title {
    padding-top: 10vh;
    width: 500px;
  }
  .gap {
    height: 17vh;
  }
  .main-title h1 {
    font-size: 35px;
  }
  .main-title h3 {
    font-size: 23px;
  }
  button {
    width: 200px;
    height: 60px;
    padding: 1.7em 1em 1.7em 1em !important;
    border-radius: 7px !important;
    font-size: 12px !important;
  }
  .enq-fields-inner {
    margin-left: 5vh;
    width: 80vh;
  }
}

@media only screen and (max-width: 1400px) {
  .top-panel {
    padding-left: 20px;
  }
  .main-title {
    padding-top: 10vh;
    width: 400px;
  }
  .main-title h1 {
    font-size: 30px;
  }
  .main-title h3 {
    font-size: 18px;
  }
  button {
    width: 160px;
    height: 50px;
    padding: 1em !important;
    border-radius: 7px !important;
    font-size: 11px !important;
  }
  .gap {
    height: 14vh;
  }
  img {
    width: 46px !important;
    height: 46px !important;
  }
  .info {
    width: 70vh;
  }
  .enq-fields-inner {
    margin-left: 2vh;
    width: 60vh;
  }
}

@media only screen and (max-width: 960px) {
  .top-panel {
    padding-left: 50px;
  }

  .branding-phone {
    padding-right: 0px;
  }
  .main-title {
    padding-top: 3vh;
  }
  .main-title h1 {
    font-size: 26px;
  }
  .main-title h3 {
    font-size: 15px;
  }

  .main-title .title2 {
    display: none;
  }

  video {
    display: none;
  }
  .info {
    width: auto;
  }

  button {
    width: 180px;
    height: 50px;
    padding: 1em !important;
    border-radius: 7px !important;
    font-size: 11px !important;
    margin: 30em;
  }

  .gap {
    display: none;
    height: 150px;
  }

  .yt {
    display: block;
  }
  .mobile-h3 {
    font-size: 16px;
    display: block;
  }
  .enq {
    width: 100%;
    right: 0%;
    z-index: 99;
  }
  .enq1,
  .enq2 {
    width: 100%;
  }
  .enq-fields-inner {
    position: absolute;
    width: 90vh;

    margin-left: 1vh;
  }

  .enq-fields-show {
    opacity: 1;
    transition: opacity ease-in 1s;
    display: block;
    transition: background-color ease-in 0.18s;
  }

  .name-input,
  .tel-input {
    padding-top: 14vh;
    width: 70%;
    margin-bottom: 1em;
    margin-top: 1em;
    height: 50px;
  }
}

@media only screen and (max-width: 768px) {
  .top-panel {
    margin-top: 43px;
    padding-left: 0;
  }

  .right-cont {
    display: none;
  }
  .info {
    width: auto;
  }

  video {
    display: none;
  }
  .branding-text {
    display: none;
  }

  .enq {
    width: 100%;
    right: 0%;
    z-index: 99;
  }
  .enq1,
  .enq2 {
    width: 50%;
  }
  .enq-fields-inner {
    position: absolute;
    width: 70vh;

    margin-left: 1vh;
  }

  .enq-fields-show {
    opacity: 1;
    transition: opacity ease-in 1s;
    display: block;
    transition: background-color ease-in 0.18s;
  }

  .name-input,
  .tel-input {
    padding-top: 14vh;
    width: 70%;
    margin-bottom: 1em;
    margin-top: 1em;
    height: 50px;
  }
}

@media only screen and (max-width: 568px) {
  .enq {
    width: 100%;
    right: 0%;
    z-index: 99;
  }
  .enq1,
  .enq2 {
    width: 50%;
  }
  .enq-fields-inner {
    position: absolute;
    width: 60vh;

    margin-left: 0vh;
  }

  .enq-fields-show {
    opacity: 1;
    transition: opacity ease-in 1s;
    display: block;
    transition: background-color ease-in 0.18s;
  }

  .name-input,
  .tel-input {
    padding-top: 14vh;
    width: 70%;
    margin-bottom: 1em;
    margin-top: 1em;
    height: 50px;
  }
}

@media only screen and (max-width: 400px) {
  button {
    width: 150px;
    height: 50px;
    padding: 1em !important;
    border-radius: 7px !important;
    font-size: 11px !important;
    margin: 30em;
  }

  .gap {
    display: none;
    height: 150px;
  }

  .yt {
    display: block;
  }
  .mobile-h3 {
    font-size: 16px;
    display: block;
  }
  .top-panel {
    margin-top: 43px;
    padding-left: 0;
  }

  .right-cont {
    display: none;
  }
  .info {
    width: auto;
  }

  video {
    display: none;
  }
  .branding-text {
    display: none;
  }

  .enq {
    width: 100%;
    right: 0%;
    z-index: 99;
  }
  .enq1,
  .enq2 {
    width: 50%;
  }
  .enq-fields-inner {
    position: absolute;
    width: 60vh;

    margin-left: 1vh;
  }

  .enq-fields-show {
    opacity: 1;
    transition: opacity ease-in 1s;
    display: block;
    transition: background-color ease-in 0.18s;
  }

  .name-input,
  .tel-input {
    padding-top: 14vh;
    width: 70%;
    margin-bottom: 1em;
    margin-top: 1em;
    height: 50px;
  }
}

#myVideo {
  z-index: -1;
  position: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  transform: translateX(25%);
}

